<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav nav-pills nav-fill">
        <a class="nav-link active" routerLink="admin-login" >Admin</a>
      </li>

      <li class="nav nav-pills nav-fill">
        <a class="nav-link active" routerLink="studentlist" >List</a>
      </li> 

      <li class="nav nav-pills nav-fill">
        <a class="nav-link active"  routerLink="student-login">student</a>
      </li>
      <li class="nav nav-pills nav-fill ">
        <a class="nav-link active" routerLink="instructor-login" >Instructor</a>
      </li>
    </ul>
  </div>
<router-outlet></router-outlet>
</div>