section{
    height:100vh;
    width: 100%;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
   background-attachment: fixed;
}
.image-1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0bcCYj5dqUgQdqugBZAq3JS-VxBuKxasFpA&usqp=CAU")
}